/*Google fonts
===================*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
/*font-family: 'Josefin Slab', serif;*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
/*font-family: 'Josefin Sans', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
/*font-family: 'Oswald', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
/*font-family: 'Raleway', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/*font-family: 'Lato', sans-serif;*/

/* #typography
================================================== */
h1 {font-family: 'Josefin Sans', sans-serif; font-size: 4em; font-weight: 300; padding: 0.58em 0 .2em 0; margin: 1.2% 0 0 0; text-transform: capitalize;}
h2 {font-family: 'Lato', sans-serif;f; font-size: 2em; font-weight: 100; text-transform: capitalize; margin: 0 0 1% 0;}
h3 {font-family: 'Oswald', sans-serif; font-size: 3em; text-transform: capitalize; margin: 20px 0;}
h4 {font-family: 'Raleway', sans-serif; font-size: 1.5em; font-weight: 800; padding: 0.58em 0 .2em 0; margin: 1.2% 0 0 0; text-transform: capitalize;}
body p{font-family: 'Raleway', sans-serif; font-size: 1.3em; /*margin: 3% 3%;*/}
.caption {font-family: 'Raleway', sans-serif; font-size: .8em}
.list {font-family: 'Raleway', sans-serif; font-size: 1.2em; list-style-type: none; margin-left: -61px;}
.tcenter {text-align: center;}
.tleft {text-align: left;}
.tright {text-align: right;}

/* #Font colors
================================================*/
.font-white {color: white;}
/*.shadow {text-shadow: -1px 2px 1px rgba(150, 150, 150, 1);}*/
.shadow { text-shadow: 0px 2px 3px #1D1D1D;}

/* #Links
================================================== */
a:link {color: #6b3f3f; text-decoration:none; font-weight: 500;}/*unvisited link */
a:visited {color:#432c9b; text-decoration:none;}   /*visited link */
a:hover {color: #76689b; text-decoration: underline;}  /* mouse over link */
a:active {color:#000; text-decoration:none;}  /* selected link */ 

/* #Bootstrap overrides
================================================ */
.img-responsive {max-width: 65%; margin: auto;}
img.img-responsive.image-icon { max-width: 100%;}
.top-padding {padding-top: .75%;}
.top-margin {margin-top: 1%;}
.col-xs-2 {padding-left: 1%; padding-right: 1%;}
.row {margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}


/* #Page Styles
================================================= */
.break-50 {
  position: relative;
  width: 100%;
  height: 50%;
  display: block;
  text-align: center;
  margin-top: -1.21%;
}
.break-25 {
  position: relative;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  /*text-align: center;*/
}
.break-skill {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  /*margin: 2% 0;*/
  padding: 4% 0;
  overflow: hidden;
}
.bg {
  background: url('http://i.imgur.com/9uaT0Kh.png') repeat;
  width: 100%;
  /*height: 150%;*/
  /*top: 0;*/
  /*left: 0;*/
  /*position: fixed;*/
}

/*.parallax-container {
  height: 50%;
}*/
/*.parallax {
  z-index: -1;
}*/

/* #Colors
=================================================*/
.teal {
  background-color: #00ccd6;
}
.dark-teal {
  background-color: #009688;
}
.yellow{
  background-color: #ffd801;
}
.light-grey {
  background-color: #efefef;
}
.dark-grey {
  background-color: #424242;
}
.black {
  background-color: #333333;
}
.ruby {
  background-color: #a51820;
}
.lav {
  background-color: #76689b;
}
.light-lav {
  background-color: #f2edfc;
}
.light-yellow-green {
  background-color: #eafcd1;
}
/* #images
================================================*/
.icon-row {
  width: 50%;
  margin: auto;
  display: block;
}
.icon-row img{
  width: 22.32%;
  margin: .5% .65%;
}
.image-icon {
  border: 5px solid #ffffff;
  border-radius: 10px;
  box-shadow: -2px 3px 7px 1px rgba(224,224,224,1);
}

.social-media{
  width: 10%;
}

/*.right {
    position: absolute;
    right: 0px;
    width: 10%;
    border:3px solid #8AC007;
    padding: 1%;
}*/

/* #floats 
================================================== */
.left {float: left;}
.right {float: right;}


/*.profile {
  width: 25%;
  align:left;
}*/

/*.image-shadow{
  box-shadow: 10px 10px 5px #ffffff;
}*/

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
.padding {
  padding-left: 6%;
  padding-right: 0%;
}

/*# Materialize Cards
==================================================== */

.card-panel {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff; 
}

.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px; 
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-title {
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    overflow: hidden; 
}

.card .card-title.activator {
      cursor: pointer; }
.card.small, .card.medium, .card.large {
    position: relative; }
    .card.small .card-image, .card.medium .card-image, .card.large .card-image {
      overflow: hidden; }
    .card.small .card-content, .card.medium .card-content, .card.large .card-content {
      overflow: hidden; }
    .card.small .card-action, .card.medium .card-action, .card.large .card-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
  .card.small {
    height: 300px; }
    .card.small .card-image {
      height: 150px; }
    .card.small .card-content {
      height: 150px; }
  .card.medium {
    height: 400px; }
    .card.medium .card-image {
      height: 250px; }
    .card.medium .card-content {
      height: 150px; }
  .card.large {
    height: 500px; }
    .card.large .card-image {
      height: 330px; }
    .card.large .card-content {
      height: 170px; }
  .card .card-image {
    position: relative; }
    .card .card-image img {
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%; }
    .card .card-image .card-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px 14px 5px 10px; }
  .card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px; }
    .card .card-content p {
      margin: 0;
      color: inherit; }
    .card .card-content .card-title {
      line-height: 48px; }
  .card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px; }
    .card .card-action a {
      color: #ffab40;
      margin-right: 20px;
      -webkit-transition: color .3s ease;
      -moz-transition: color .3s ease;
      -o-transition: color .3s ease;
      -ms-transition: color .3s ease;
      transition: color .3s ease;
      text-transform: uppercase; }
      .card .card-action a:hover {
        color: #ffd8a6; }
  .card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1;
    display: none; }
    .card .card-reveal .card-title {
      cursor: pointer;
      display: block; }
